*{
	padding: 0;
	margin: 0;
}

.home{
	background: url(../images/banff.jpeg);
	background-position: center;
	background-size: center;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.home > div > h1 {
	color: white;
}

.btn {
	background-color: darkblue;
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s;
}

.btn:hover{
	background-color: salmon;
}

.about{
	height: 100vh;
	background-color: salmon;
	display: flex;
}

.left{
	background-color: pink;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.right{
	background-color: red;
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}



.right > form {
	height: 60vh;
	width: 80%;
	background-color: white;
	text-align: center;
}

form > h4{
	font-size: 50px;
	text-align: center;
	margin: 10px;
}

input{
	/*display block*/
	display: block;
	border: 1px solid brown;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 10px
}