*{
	margin: 0;
	padding: 0;
}

h1{
	color: red;
}

a{
	font-size: 30px;
	text-decoration: none;
	transition: 3s;
}

/*unvisited link*/
a: link{
	color: green;
}

/*visited link:*/
a:visited{
	color: purple;
	font-size: 50px;
}

a:hover{
	font-size: 100px;
	color: purple;
}

.head{
	color: blue;
}

#sample{
	color: green;
}

h1, .head {
	color: pink;
}