/*Basic Syntax: selector {property:value;}*/
*{
	margin: 0;
	padding: 0;
}
h1{
	color: red;
	font-size: 60px;
	text-align: center;
}

p{
	color: blue;
}

#red{
	color: red;
	font-size: 30px;
}

#orange{
	color: green;
	font-size: 20px;
}

.chicken{
	color: salmon;
	font-size: 30px;
}

.pork{
	color: darkviolet;
	font-size: 20px;
}

.dry{
	text-transform: uppercase;
}

.wet{
	text-transform: capitalize;
}

ul{
	padding: 40px;
	list-style-type: none;
}

/*adjacent sibling selector*/
h4+ p + ul{
	font-size: 50px; 
}

#red + li{
	font-size: 100px;
}

.chicken + li{
	font-size: 50px; 
}

/*general sibling selector*/

h4 ~ ul {
	color: green;
}

#red ~ li{
	font-size: 80px;
}

/*child selector*/

#food > li {
	font-size: 200px;
}

/*descendant selector*/

body li{
	text-transform: uppercase;
}

/*group styling*/

h1, h2, h3, h4, h5, h6 {
	color: brown;
}

#hello {
	color: red;
}